
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-wrap: wrap;                
    justify-content: space-between; 
    align-content: flex-start;       
    row-gap: 10px;                   
    width: 100%;
}

.item {
    width: 150px;
    height: 150px;
    flex: 0 0 auto;                
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
